@charset "UTF-8";

/* 自写辅助 CSS */
/*
@font-face {
    font-family:"FontAwesome";
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal
}
*/
* {font-family: "FontAwesome","Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif, "微软雅黑", "黑体", Tahoma,Verdana}


.float-left{float:left!important}
.float-right{float:right!important}
.my-container{width:1120px;margin:auto;clear:both}
.left{width:750px;}
.right{width:350px;}
.font12{font-size:12px}
/*图片圆角*/
.border-rounded{
    border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.border-circle{border-radius:50%}
ul,li{list-style-type:none;margin:0;padding:0}
.margin-top{margin-top:15px!important;clear:both}
.margin-left-10{margin-left:10px}
.margin-left-90{margin-left:90px}
.position-relative{position:relative}

.text-cut{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*菜单导航*/
.navbar-default{height:140px;padding:10px 0;margin-bottom:10px!important;background:none!important;border-bottom:1px solid #1581CF!important;border-radius:0!important;border-top:none!important;border-left:none!important;border-right:none!important}
.navbar-default .navbar-nav > li > a{color:#444!important}
.nav-pic{}
.nav-logo{width:130px;}
.nav-font{font-size:18px;font-weight:bold;}
.nav-font .xs-menu{padding-top:5px; font-size:18px;font-weight:bold;height:25px;}
.nav-font a {color:#444}
.tougao{padding-top:10px}

.channel-link{margin-top:5px;margin-bottom:10px}
.channel-link .link a{margin-right:10px;}
.channel-link a{color:#444;text-decoration:none}
.channel-link a:hover{color:#444;text-decoration:underline}
.channel-link .other {padding-left:10px;}

/*幻灯*/
.carousel {width:100%; height:350px;margin-top:10px}
.carousel .item {width:100%; height:350px;}
.carousel-inner .item a img{position:absolute;top:0;left:0;min-width:100%;width:100%;height:350px}
.carousel-caption{z-index:10;width:100%; margin:0 auto; left:0!important; right:0!important; padding:0; padding-bottom:26px; padding-top:16px; bottom:0!important; /*background-image:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0.6) 100%);*/}
.carousel-caption a{ color:#fff;font-size:22px; font-weight:bold;}
.carousel-caption h1{font-size:22px;background:rgba(0,0,0,0.5);}
.carousel-caption h1 a{color:white;display:inline-block;padding:10px 0}
.carousel-caption h1 a:hover{text-decoration:none}
.carousel-indicators{bottom:5px!important}
.carousel-indicators li{width:20px!important;height:5px!important;background-color:rgba(255, 255, 255, .4)!important;border:none!important;}
.carousel-indicators .active {background-color:rgba(255, 255, 255, .9)!important;margin:1px!important}

/*新闻列表*/
.news-list{margin-top:10px;}
.news-list .news-list-con{clear:both;border-bottom:1px solid #F0F2F3;margin-bottom:15px}
.news-list .news-list-con .p3{font-size:18px;font-weight:bold;height:20px;overflow:hidden;margin:5px 0 10px;padding:0;text-overflow:ellipsis;white-space:nowrap;}
.news-list .news-list-con .p3 a{color:#444}
.news-list .news-list-con .p3 a:hover{color:#047ED2}
.news-list .news-list-con .news-pic{}
.news-list .news-list-con .news-con{}
.news-list .news-list-con .news-con h3{font-size:18px;font-weight:bold;height:20px;overflow:hidden;margin:5px 0 10px;padding:0;text-overflow:ellipsis;white-space:nowrap;}
.news-list .news-list-con .news-con h3 a{color:#444}
.news-list .news-list-con .news-con h3 a:hover{color:#047ED2}
.news-list .news-list-con .news-con .news-desc{height:60px;margin-bottom:30px;overflow:hidden;color:#818A92}
.news-list .news-list-con .news-con .news-info{height:20px;overflow: hidden;color:#818A92}
.news-list .news-list-con .news-con .news-info span{margin-left:20px}
.news-list .news-list-con .news-con .news-info a{color:#444}
.news-list .news-list-con .news-con .news-info span a{color:#047ED2!important}
.news-list a.news-more{display:block;width:100%;height:40px;line-height:40px;border:1px solid #047ED2;border-radius:5px;color:#047ED2;text-align:center;text-decoration:none;font-size:18px}
.news-list a.news-more:hover{background:#eee;color:#047ED2;text-align:center;text-decoration:none;font-size:18px}

/*万联日历*/
.date-event{height:360px;overflow:hidden;clear:both;margin-top:10px}
.date-event h4{border-bottom:2px solid red;height:35px;line-height:35px;margin:0!important;font-size:20px;font-weight:bold;}
.date-event-list li{margin-bottom:10px;}
.date-event-list li a{display:block;border-bottom:1px dotted #EAEAEA;height:55px;color:#2a2a2a;padding:5px 0}
.date-event-list li a span{display:inline-block;background:#f1f1f1;width:80px;height:44px;line-height:44px;text-align:center;font-size:20px;float:left;margin-right:10px;color:#444}
.date-event-list li.active a{display: block;border-bottom:1px dotted red;height:55px;color:red;padding:5px 0}
.date-event-list li.active a span{background:red;color:white}
.date-event-list li a:hover {color:red;border-bottom: 1px dotted red;text-decoration: none;}
.date-event-list li a:hover span{background: red;color:#fff;}

/*万联专栏*/
.opinion-con{}
.opinion-con h3{border-bottom:2px solid #666;height:35px;line-height:35px;margin:0!important;font-size:20px;font-weight:bold;}
.opinion-con h3 a{color:#444}
.opinion-con h4{font-size:16px;font-weight:bold;line-height:30px;}
.opinion-con h4 a{color:#444}
.opinion-con h4 a:hover{color:#047ED2}
.opinion-con .opinion-first{margin:10px 0}
.opinion-con .opinion-first img{margin:0 10px 10px 0;border:3px solid #ddd}
.opinion-con .opinion-first p a{color:#047ED2}
.opinion-con .opinion-list{clear:both;}
.opinion-con .opinion-list li{height:22px}
.opinion-con .opinion-list li .opinion_title{float:left;width:300px; text-overflow:ellipsis; white-space:nowrap;overflow:hidden}
.opinion-con .opinion-list li .author{float:right}
.opinion-con .opinion-list li a{color:#444}
.opinion-con .opinion-list li a:hover{color:#444}
.opinion-con .opinion-list li span a{color:#047ED2}

/*会员资讯*/
.member-news-con{padding:10px;background:#F3D300;}
.member-news-list{width:330px;background:#fff}
.member-news-list ul{width: 310px;height:272px;overflow:hidden;margin:10px auto}
.member-news-list ul li{clear:both;height:70px}
.member-news-list ul li a img{float:left;width:80px;margin-right:10px;background:white;border: 1px solid #F6F6F6;}
.member-news-list ul li a span{padding-top:5px}
.member-news-list .list-line > li:nth-child(n + 1) {padding-bottom:10px;padding-top:10px;border-bottom: 1px solid #ebebeb}
.member-news-list ul li a{color:#444}
.member-news-list ul li a:hover{color:#047ED2;text-decoration:none}

/*热门排行*/
.top-news-con{}
.top-news-con .top-news-title{border-bottom:2px solid #07d;padding:10px 0;font-size:16px;font-weight:bold;}
.top-news-con .top-news-list{background: url(../img/list_img.png) 0 0 no-repeat;}
.top-news-con .top-news-list li{text-indent:20px;margin-top:5px;height:20px;overflow:hidden}
.top-news-con .top-news-list li a{color:#444}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {color:#fff;background-color:#007BD5!important}
.nav-pills > li > a{font-size:16px;padding:5px 15px!important;}

#top_post_filter{ border-bottom:1px solid #e5e5e5; }
#top_post_filter li{ float:left; width:33.3%; height:30px; line-height:30px; color:#999; font-size:14px; text-align:center;}
#top_post_filter li:hover,#top_post_filter .top_post_filter_active{ border-bottom:4px solid #0e79cc; cursor:pointer; color:#0e79cc}
a.top_post_item{ display:block; border-bottom:1px dashed #ddd; margin:14px 20px; padding-bottom:14px;width:233px;}
a.top_post_item img{ display:block; float:left; width:40px; height:40px; border-radius:6px;}
a.top_post_item p{ display:block; float:left; width:175px; height:44px; overflow:hidden; margin-left:14px; margin-top:-4px; color:#999; font-size:14px; line-height:24px;}
a.top_post_item:hover img{box-shadow:0px 0px 3px 2px #ddd;}
a.top_post_item:hover p{ color:#333;}
a.top_post_item_no_border{ border-bottom:0}
/*友情链接*/
.friend-link{margin-top:15px;clear:both}
.friend-link a{color:#444;text-decoration:none;white-space:nowrap;margin-right:5px}
.friend-link a:hover{color:#444;text-decoration:underline}

/*页面底部*/
.footer{background:#047ED2;clear:both;margin-top:15px;padding:10px 0;text-align:center;color:white}
.service-title a,.service-title a:hover{color:white;text-decoration:none}
.service-title{z-index:10;position:relative;top:10px;margin:10px auto;background: #047ED2;width:190px;line-height:40px;border: 2px solid #ffffff;border-radius: 56px;text-align:center;font-size:18px}
.service-con{padding-left:15px;text-align:left;line-height:25px}
.service-con a,.service-con a:hover{color:white}
.service-con .width-cl01{float:left;width:305px}
.service-con .width-cl02{float:left;width:240px}
.service-con .width-cl03{float:left;width:100px}
.service-con .width-cl04{float:left;width:100px}
.service-con .width-cl05{float:left;width:250px}
.service-con .width-cl06{float:left;width:100px}
/*底部版权信息*/
.foot-link{line-height:25px}
.foot-link a,.foot-link a:hover{color:white;text-decoration:none}

/*页面右侧通用样式*/
.right_box{ width:275px; padding-bottom:20px; overflow:hidden;}
.right_box_title{ height:60px; line-height:60px; color:#0e79cc; font-size:18px; font-weight:bold; text-indent:21px; border-bottom:1px solid #e5e5e5;}

/*侧边栏关注我们*/
#followus{ margin-top:20px;}
#followus.position{ position:fixed; top: 55px;}
#followus_item{ width:350px;height:180px;margin:15px 10px 10px 0;}
.border_gray{border:1px solid #e5e5e5; background:#fff;}


/*======================资讯中心======================*/
/*三条新闻推荐*/
.headline-news{margin-top:10px;font-weight:800;height:280px}
.headline-news a,.headline-news a:hover{color:white}
.headline-news figure{display:inline-block;position:relative;max-width:100%;vertical-align:middle;overflow:hidden;-webkit-transform:translateZ(0);margin:0;border-radius:5px;}
.headline-news figure figcaption{position:absolute;bottom:0;left:0;right:0;padding:20px;color:#fff;background:rgba(0, 0, 0, .5);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.headline-news .first-news{float:left;width:500px;font-size:18px}
.headline-news .second-news{float:right;width:240px;font-size:16px}
.headline-news .third-news{float:right;width:240px;font-size:16px;margin-top:10px}
.headline-news .first-img{width:500px;height:278px}
.headline-news .second-img{width:240px;height:133px}
.headline-news .second-news figure figcaption,.headline-news .third-news figure figcaption{height:42px;padding:10px !important;}

/*天下大势 企业动态 展览会议 专家观点*/
.news-con-big{clear:both;height:180px}
.news-con-big h4{clear:both;line-height:40px;font-size:18px;font-weight:800;border-bottom:2px solid #aaa;text-align:left;margin:7px auto 5px;}
.news-con-big h4 a{color:#444}
.news-con-big h4 span{font-size:14px;font-weight:normal;float:right}
.news-con-big h4 span a{margin-right:10px;color:#444}
.news-con-big .news-with-pic{padding-left:0px;}
.news-con-big .news-with-pic figure{display:inline-block;position:relative;max-width:100%;vertical-align:middle;overflow:hidden;-webkit-transform:translateZ(0);margin:0;border-radius:5px;}
.news-con-big .news-with-pic figure figcaption{position:absolute;bottom:0;left:0;right:0;padding:10px;color:#fff;background:rgba(0, 0, 0, .5);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-con-big .news-with-pic figure figcaption a{color:white}
.news-con-big .news-only-title{margin-right:10px}
.news-con-big .news-only-title a{color:#444}
.news-con-big .news-only-title h3{font-size:18px;font-weight:800;margin:10px auto 20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-con-big .news-only-title ul li{line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/*供应链管理 案例 研究报告 书籍 职场风云 管理智慧*/
.news-con-half{height:220px;margin:15px auto 20px}
.news-con-half h3{border-bottom:2px solid #aaa;line-height:30px;font-size:18px;font-weight:800;margin:0!important}
.news-con-half h3 span{float:right;font-size:14px;font-weight:normal;}
.news-con-half h3 span a{margin-right:10px;color:#444}
.news-con-half h4{font-size:16px;font-weight:800;padding:5px 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-con-half h4 a{color:#444}
.news-con-half .news-con-with-pic{height:83px;overflow:hidden}
.news-con-half .news-con-with-pic img{float:left;margin-right:10px}
.news-con-half .news-con-with-pic p{font-size:12px;font-weight:normal;line-height:20px}
.news-con-half ul{margin-top:10px}
.news-con-half ul li{line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-con-half ul li a{color:#444}

/*页码*/
.pagination {width:100%;font-size:14px;padding: 0;list-style: none;text-align: center;}
.pagination a[disabled]{color: #777;cursor: not-allowed;background-color: #fff;border-color: #ddd;}
.pagination span.active{z-index: 2;color: #fff;cursor: default;background-color: #337ab7;border-color: #337ab7;}

/*分享文章*/
.share-way{width:60px;float:left;margin-top:10px;position:fixed}
.share-way h4{font-size:16px;font-weight:400;margin:0 0 10px 0}
.share-way h4 a{float:right;text-decoration:none;color:#d3d3d3}
.share-way .code-pic-con{position:relative;left:65px;top:-262px;color:#444;border:1px solid #b7b7b7;background:#fafafa;width:240px;z-index:10;padding:20px;border-radius:5px}
.share-way .code-pic-con img{width:200px}
.share-way a{cursor:pointer}

/*微信分享*/
.bdsharebuttonbox a.bds_weixin{display:block;width: 60px;height: 60px;background:#FAFAFA url(../img/share_icon.png) 0 0 no-repeat;}
.bdsharebuttonbox a.bds_tsina{display: block;width: 60px;height: 60px;background:#FAFAFA url(../img/share_icon.png) 0 -60px no-repeat;margin-top:2px;}
.bdsharebuttonbox a.pengyou-share{display: block;width: 60px;height: 60px;background:#FAFAFA url(../img/share_icon.png) 0 -120px no-repeat;margin-top:2px;}
.bdsharebuttonbox a.fav-share{display: block;width: 60px;height: 60px;background:#FAFAFA url(../img/share_icon.png) 0 -180px no-repeat;margin-top:2px;}

/*文章正文*/
.article{width:750px;margin:15px 0 0;}
.article p img{margin:auto;max-width:720px!important}
.article-title{line-height:42px;font-weight:bold;text-transform:none;font-size:24px}
.article-title a{color:inherit;text-decoration:none}
.article-meta{line-height:18px;color:#666}
.article-meta a{margin:0 10px}
.article-lead{color:#888;line-height:24px;font-weight:400;font-size:16px}
.article-content{font-size:16px;line-height:30px}
.article-pre-next{border-top:1px solid #aaa;padding-top:15px;margin-top:15px}
.article-pre-next a{color:#444}
.article-pre-next a:hover{color:#07d}
.article-relative{}
.article-relative h3{font-size:18px;padding:10px 10px 10px 0;border-bottom:1px solid #ddd;height:37px;overflow:hidden}
.article-relative h3 span{display:inline-block;border-bottom:3px solid #646464;padding-bottom:5px}
.article-relative ul{margin-left:-10px}
.article-relative ul li{width:243px;border:1px solid #eee;float:left;margin:10px 0 10px 10px}
.article-relative ul li img{width:241px!important;height:134px!important}
.article-relative ul li .article-relative-title{padding:10px}
.article-relative ul li .article-relative-title h5{font-size:14px;line-height:22px;height:40px;width:230px;overflow:hidden;margin:0}
.article-relative ul li .article-relative-title h5 a{color:#444}

/*情报*/
.qingbao-con{background:#f9f9f9;padding:10px;margin:10px auto 15px}
.qingbao-con h3{border-left:3px solid red;height:25px;text-indent:10px;line-height:25px;margin:0!important;font-size:20px;font-weight:bold;}
.qingbao-con h3 a{font-size:12px;font-weight:normal;float:right;color:#444}
.qingbao-con ul{width:310px;margin:20px auto 10px}
.qingbao-con ul li{height:54px;overflow:hidden}
.qingbao-con ul > li:nth-child(n + 2) {padding-top:10px;border-top: 1px solid #ebebeb}
.qingbao-con ul li a{color:#444}

/*作者介绍*/
.author-info{}
.author-info h3{border-bottom:2px solid #ddd;height:35px;line-height:35px;margin:0!important;font-size:18px;font-weight:bold;}
.author-info .author-info-pic{margin:15px 0}
.author-info .author-info-pic a{float:left;color:#444;margin-right:15px;text-align:center;display:inline-block;width:66px;}
.author-info .author-info-pic a h4{font-size:14px!important}
.author-info .author-info-pic a img{border:3px solid #ddd;border-radius:5px}
.author-info .author-info-pic p{font-size:12px;line-height:20px}
.author-info h5{font-size:16px;font-weight:bold;margin:15px 0}
.author-info h5 a{float:right;color:#444;font-size:14px;font-weight:normal;margin-right:10px}
.author-info ul li {line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.author-info ul li a{color:#444;}

/*列表上专栏作者介绍*/
.opinion-author{border:1px solid #ddd;border-radius:5px;padding:10px 15px;margin-top:10px}
.opinion-author h4{font-size:20px!important;font-weight:bold;padding-top:5px!important;margin-bottom:5px!important;}
.opinion-author img{border:3px solid #ddd;border-radius:5px;float:left;color:#444;margin:15px 15px 0 0;width:96px;}
.opinion-author p{font-size:14px;line-height:22px}
.opinion-author .author-date-info{clear:both;font-size:12px;color:#666;line-height:25px}

/*当前位置*/
.now-position{height:35px;line-height:35px;border-bottom:1px solid #ddd;margin-bottom:10px}
.now-position a,.now-position a:hover{color:#444}

/*专栏列表*/
.opin-list{margin-top:10px}
.opin-list .opin-list-con{clear:both;border-bottom:1px solid #F0F2F3;margin-bottom:15px}
.opin-list .opin-list-con .opin-pic{margin-top:5px}
.opin-list .opin-list-con .opin-con{}
.opin-list .opin-list-con .opin-con h3{font-size:18px;font-weight:bold;height:20px;overflow:hidden;margin:5px 0 10px;padding:0;text-overflow:ellipsis;white-space:nowrap}
.opin-list .opin-list-con .opin-con h3 a{color:#444}
.opin-list .opin-list-con .opin-con h3 a:hover{color:#047ED2}
.opin-list .opin-list-con .opin-con .opin-desc{height:60px;margin-bottom:10px;overflow:hidden;color:#818A92}
.opin-list .opin-list-con .opin-con .opin-info{height:45px;line-height:45px;overflow: hidden;color:#818A92}
.opin-list .opin-list-con .opin-con .opin-info img{margin-right:10px}
.opin-list .opin-list-con .opin-con .opin-info span{margin-left:20px}
.opin-list .opin-list-con .opin-con .opin-info span a{color:#818A92}

/*下载列表*/
.download-list{}
.download-list .download-list-con{border-bottom:1px solid #ddd;padding-top:10px; padding-bottom:10px;}
.download-list .download-list-con h3{font-size:18px;font-weight:bold;height:25px;line-height:25px;margin-top:12px; margin-bottom:2px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.download-list .download-list-con h3 a{color:#444}
.download-list .download-list-con p{height:40px;overflow:hidden;color:#818A92;margin-bottom:5px}
.download-list .download-list-con h5{height:25px;line-height:25px;overflow:hidden;color:#818A92;font-weight:400;font-size:14px;margin-bottom:4px;}
.download-list .download-list-con h5 a{display:inline-block;height:25px;line-height:25px;padding:0 10px;border-radius:5px;background:#8cc14c;color:white;float:right;font-size:12px;text-decoration:none}
.download-list .download-list-con h5 a:hover{background:#8ec73b}
.download-list .download-list-con h3 i{display:inline-block;width:16px;height:18px;top:2px;position:relative}
.icon-file-word{background:url(../img/file-img.png) 0 0 no-repeat}
.icon-file-ppt{background:url(../img/file-img.png) 0 -18px no-repeat}
.icon-file-pdf{background:url(../img/file-img.png) 0 -36px no-repeat}
.icon-file-excel{background:url(../img/file-img.png) 0 -54px no-repeat}
.icon-file-rar{background:url(../img/file-img.png) 0 -72px no-repeat}
.icon-file-zip{background:url(../img/file-img.png) 0 -90px no-repeat}

/*培训搜索*/
.peixun-container{height:130px;margin-top:15px}
.peixun-search{height:128px;border:1px solid #dadada;background:#ececec;border-radius:5px;padding:40px}
.peixun-search ul{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin-left:-10px;margin-top:-10px;padding:0;list-style:none}
.peixun-search ul > * {-ms-flex:none;-webkit-flex:none;flex:none;padding-left: 10px;margin-top: 10px;position: relative}
.peixun-search ul > li > a{padding:3px 9px;border-radius:5px;color:#444;text-decoration:none}
.peixun-search ul > li > a:hover {padding:3px 9px;border-radius:5px;background:#00a8e6;color:#fff;text-decoration:none}
.peixun-search ul > .active >a,.peixun-search ul > .active >a:hover {background:#047ED2;color:#fff}

/*专栏作者*/
.author-con{}
.author-con h3{border-bottom:2px solid #ddd;height:35px;line-height:35px;margin:0!important;font-size:18px;font-weight:bold;}
.author-con h3 a{float:right;font-size:14px;font-weight:normal;color:#444}
.author-con ul{margin:15px 0 15px -35px}
.author-con ul li{width:33.33%;padding-left:35px;float:left;text-align:center;}
.author-con ul li h4{margin:10px 0 15px;font-size:16px!important;font-weight:normal!important}
.author-con ul li h4 a{color:#444}

/*培训热门推荐*/
.hot-con{}
.hot-con h2{font-size:24px;line-height:35px;border-bottom:1px solid #ddd;}
.hot-con h2 span{border-bottom:3px solid #646464;padding-bottom:2px}
.hot-con .hot-con-inner{padding:5px 0;border-bottom:1px solid #ddd;}
/*.hot-con .hot-con-inner :nth-child(n + 1){border-bottom:1px solid #ddd}*/
.hot-con .hot-con-inner .hot-con-img img{height:210px; margin:5px 0 15px 0;}
/*.hot-con .hot-con-inner .hot-con-img img{border-radius:5px}*/
.hot-con .hot-con-inner .hot-con-info{margin-top:13px;}
.hot-con .hot-con-inner .hot-con-info h3{font-size:18px;line-height:20px;font-weight:700;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hot-con .hot-con-inner .hot-con-info h3 a{color:#444}
.hot-con .hot-con-inner .hot-con-info h5{color:#818A92}
.hot-con .hot-con-inner .hot-con-info h5 span{color:#008CD3}
.hot-con .hot-con-inner .hot-con-info p{margin-top:15px;color:#818A92;height:86px;line-height:22px;overflow:hidden;text-overflow:ellipsis}
.hot-con .hot-con-inner .hot-con-info h5 i{display:inline-block;width:12px;height:12px;position:relative;}
.icon-clock{background:url(../../web_img/clock-and.png) 0 0 no-repeat}
.icon-map-marker{background:url(../../web_img/clock-and.png) 0 -12px no-repeat;margin-left:15px}
.icon-rmb{background:url(../../web_img/clock-and.png) 0 -24px no-repeat;margin-left:15px}
.hot-con a.hot-more{display:block;width:260px;height:40px;line-height:40px;border:1px solid #047ED2;border-radius:5px;color:#047ED2;text-align:center;text-decoration:none;font-size:18px;margin:25px auto;}
.hot-con a.hot-more:hover{background:#eee;color:#047ED2;text-align:center;text-decoration:none;font-size:18px}

/*往期报道*/
.last-report{height:220px}
.last-report h2{font-size:24px;line-height:35px;border-bottom:1px solid #ddd;margin-bottom:25px}
.last-report h2 span{border-bottom:3px solid #646464;padding-bottom:2px}

/*下载内页*/
.download-detail{}
.download-detail .download-detail-con{}
.download-detail .download-detail-con h2{font-size:24px;line-height:42px;font-weight:bold;}
.download-detail .download-detail-con p{font-size:12px;line-height:18px;color:#999}
.download-detail .download-detail-con p a{margin:0 10px;color:#07d}
.download-detail .download-detail-con .download-info{height:100px;}
.download-detail .download-detail-con .download-info .download-info-con{float:left;width:236px;height:100px;color:#888;line-height:24px;font-weight:400}
.download-detail .download-detail-con .download-info .download-info-con i{display:inline-block;width:12px;height:12px;margin-right:3px}
.icon-star{background:url(../img/star-img.png) 0 0 no-repeat}
.icon-star-half{background:url(../img/star-img.png) 0 -12px no-repeat}
.download-detail .download-detail-con .pic-con{float:right}
.download-detail .download-detail-con .download-link{clear:both;margin-top:35px}
.download-detail .download-detail-con .download-link a{float:left;font-size:16px;display:inline-block;background:#8cc14c;line-height:40px;padding:0 25px;border-radius:5px;color:white;text-decoration:none;margin-right:25px}
.download-detail .download-detail-con .download-link a:hover{background:#8ec73b}
.download-detail .download-detail-con .download-link .btn_down{float:left; border-style:none;font-size:16px;display:inline-block;background:#8cc14c;line-height:40px;padding:0 25px;border-radius:5px;color:white;text-decoration:none;margin-right:25px}
.download-detail .download-detail-con .download-link .btn_down:hover{background:#8ec73b}
.download-detail .download-detail-con .download-link p{padding-top:5px}
.download-detail .download-detail-con .download-desc{margin-top:35px}
.download-detail .download-detail-con .download-desc h4{font-size:18px;line-height:24px;padding-bottom:10px;border-bottom:1px solid #ddd}
.download-detail .download-detail-con .download-desc .scrollable-text{height:300px;overflow-y:scroll;}
.download-hot h3{font-size:18px;padding:10px 10px 10px 0;border-bottom:1px solid #ddd;height:37px;overflow:hidden}
.download-hot h3 span{display:inline-block;border-bottom:3px solid #646464;padding-bottom:5px}
.download-hot ul{margin-left:-35px;margin-top:25px}
.download-hot ul li{width:50%;float:left;padding-left:35px;height:25px;line-height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.download-hot ul li a{color:#444;}
.download-hot ul li i{display:inline-block;width:16px;height:18px;top:4px;position:relative;margin-right:3px}

/*活动搜索*/
.event-container{height:130px;margin-top:15px}
.event-search{height:128px;border:1px solid #dadada;background:#ececec;border-radius:5px;padding:25px}
.event-search ul{display:-ms-flexbox;display:-webkit-flex;display:flex;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin-left:-10px;margin-top:-10px;padding:0;list-style:none}
.event-search ul > * {-ms-flex:none;-webkit-flex:none;flex:none;padding-left: 10px;margin-top: 10px;position: relative}
.event-search ul > li > a{padding:3px 9px;border-radius:5px;color:#444;text-decoration:none}
.event-search ul > li > a:hover {padding:3px 9px;border-radius:5px;background:#00a8e6;color:#fff;text-decoration:none}
.event-search ul > .active >a,.event-search ul > .active >a:hover {background:#047ED2;color:#fff}

/*会议活动推荐*/
.hot-event-con{}
.hot-event-con h2{font-size:24px;line-height:35px;border-bottom:1px solid #ddd}
.hot-event-con h2 span{border-bottom:3px solid #646464;padding-bottom:2px}
.hot-event-con em{display:inline-block;padding:2px 15px;line-height:14px;font-size:12px;color:white;text-align:center;border-radius:5px;vertical-align:middle;position:absolute;margin:5px 15px;z-index:10;background:#8cc14c;font-style:normal}
.hot-event-con em.gray{background:gray}
.hot-event-con .hot-event-inner{margin-bottom:10px; padding:15px;border:1px solid #ddd;}
.hot-event-con .hot-event-inner img{}
.hot-event-con .hot-event-inner h4{height:22px;font-size:16px;line-height:22px;font-weight:700;overflow:hidden;margin-bottom:5px;}
.hot-event-con .hot-event-inner h4 a{color:#444}
.hot-event-con .hot-event-inner h5{color:#818A92}
.hot-event-con .hot-event-inner h5 span{}
.hot-event-con .hot-event-inner h5 i{display:inline-block;width:12px;height:12px;position:relative;}
.hot-event-con a.hot-event-more{display:inline-block;width:260px;height:40px;line-height:40px;border:1px solid #047ED2;border-radius:5px;color:#047ED2;text-align:center;text-decoration:none;font-size:18px;margin:25px 430px}
.hot-event-con a.hot-event-more:hover{background:#eee;color:#047ED2;text-align:center;text-decoration:none;font-size:18px}
.hot-event-con a.hot-more{display:block;width:260px;height:40px;line-height:35px;border:1px solid #047ED2;border-radius:5px;color:#047ED2;text-align:center;text-decoration:none;font-size:18px;margin:25px auto;}
.hot-event-con a.hot-more:hover{background:#eee;color:#047ED2;text-align:center;text-decoration:none;font-size:18px}

/*精彩报道*/
.last-event{height:250px}
.last-event h2{font-size:24px;line-height:35px;border-bottom:1px solid #ddd;margin-bottom:25px}
.last-event h2 span{border-bottom:3px solid #646464;padding-bottom:2px}
.last-event ul{margin-left:-50px}
.last-event ul li{float:left;width:33.333%;padding-left:50px}
.last-event ul li .last-event-inner{width:353px;padding:10px;border:1px solid #ddd;float:left;border-radius:5px;}
.last-event ul li .last-event-inner img{border-radius:5px}
.last-event ul li .last-event-inner h4{height:45px;font-size:16px;line-height:22px;font-weight:700;overflow:hidden;}
.last-event ul li .last-event-inner h4 a{color:#444}
.last-event a.last-event-more{display:inline-block;width:260px;height:40px;line-height:40px;border:1px solid #047ED2;border-radius:5px;color:#047ED2;text-align:center;text-decoration:none;font-size:18px;margin:25px 430px}
.last-event a.last-event-more:hover{background:#eee;color:#047ED2;text-align:center;text-decoration:none;font-size:18px}


/*合作咨询*/
.contact-title{z-index:10;position:relative;top:10px;margin:10px auto;background: #047ED2;width:190px;line-height:40px;border: 2px solid #ffffff;border-radius: 56px;text-align:center;font-size:18px}
.contact-con{margin:50px auto 0;text-align:left;clear:both;width:1100px;height:120px}
.contact-con a,.contact-con a:hover{color:white}
.contact-con ul{margin-left:-120px;}
.contact-con ul li{float:left;width:33.333%;padding-left:150px}
.contact-con ul li span{font-size:12px}